@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @(Context.User.Claims.FirstOrDefault(x=>x.Type.Equals(ClaimTypes.Name))?.Value ?? "User")</h1>
    <p>Current weather: @ViewBag.Weather</p>
</div>
