@{
    ViewData["Title"] = "Sign In";
}
@model NetBootcamp.Web.Models.SigninViewModel?

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4 class="text-center text-danger">@ViewBag.Erros</h4>
        <h2 class="text-center">Sign In</h2>
        <form asp-controller="Auth" asp-action="SignIn" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" asp-for="Email" class="form-control" id="email" aria-describedby="emailHelp">
                <span asp-validation-for="Email" id="emailHelp" class="form-text">We'll never share your email with anyone else.</span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

